*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
body{
	font-size: 16px;
	font-family: 'Raleway',sans-serif;
	background: #000;
	color:#fff;
	/*1B1D35*/
}
.di{
    font-size: 15px;
	color:  #fff;
	text-align: left;
	margin: 20px 0 20px 0;
}
.dis{
	font-weight: bold;
    font-size: 30px;
	color:  #fff;
	text-align: left;
	margin: 20px 0 20px 0;
}
a{
	font-size: 20px;
	text-decoration: none;
	padding:20px;
	color:#B8711B ;
}
a:hover{
	color:#fff;
	padding:20px;
	text-decoration: underline;
}
.contenedor{
	max-width: 500px;
	width: 90%;
	margin: auto;
}
.titulo{
	font-weight: 300;
	color:  #B8711B;
	text-align: center;
	margin: 60px 0 30px 0;
}
.border{
	border:none;
	margin-bottom:5px;
	border-top: 10px solid #B8711B;
	background: none;
	color:none;
	-webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius:0 10px 10px 0;
    -ms-border-radius:0 10px 10px 0;
    -o-border-radius:0 10px 10px 0;
    border-radius: 10px 10px 10px 10px;
}
.formulario{
	background: #000;
	padding: 30px;
	margin-bottom: 30px;
}
.formulario .from-group{
	width: 100%;
	margin-bottom: 10px;
}
.formulario .from-group{
	width: 100%;
	margin-bottom: 10px;
}
.formulario .from-group{
	width:100%;
	margin-bottom: 10px;
}
.formulario input[type="text"],
.formulario input[type="password"]{
   padding:15px;
   font-family:'Raleway',sans-serif;
   font-size: 18px;
   line-height: 18px;
   border:none;
   vertical-align: top;
}

.formulario input[type="submit"]{
   padding:5%;
   margin-left:45%;
   margin-top: 5%;
   /*text-align: center;*/
   font-family:'Raleway',sans-serif;
   font-size: 18px;
   -webkit-border-radius: 0 10px 10px 0;
   -moz-border-radius:0 10px 10px 0;
   -ms-border-radius:0 10px 10px 0;
   -o-border-radius:0 10px 10px 0;
   border-radius: 10px 10px 10px 10px;
}
.formulario .icono{
	margin-top: 15px;
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px;
	font-size: 18px;
	line-height: 18px;
	background: #c8c8c8;
	display: inline-block;
	color: #000;
	vertical-align: top;
}
.formulario .icono.izquierda{

	margin-right: 20px:
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	-ms-border-radius:3px 0 0 3px;
	-o-border-radius:3px 0 0 3px;
	border-radius:10px 10px 10px 10px; 
}
.formulario .usuario,
.formulario .password{
  margin-top: 15px;
  width: calc(70%);
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius:0 10px 10px 0;
  -ms-border-radius:0 10px 10px 0;
  -o-border-radius:0 10px 10px 0;
  border-radius: 10px 10px 10px 10px;

}
.formulario .password_{
 
  width: calc(100%);
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius:0 10px 10px 0;
  -ms-border-radius:0 10px 10px 0;
  -o-border-radius:0 10px 10px 0;
  border-radius: 10px 10px 10px 10px;

}

.formulario .password_btn{
	 margin-top: 15px;
	width: calc(100%-105px);
	-webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius:0 10px 10px 0;
    -ms-border-radius:0 10px 10px 0;
    -o-border-radius:0 10px 10px 0;
    border-radius: 10px 10px 10px 10px;
}
.formulario .error ul {
	padding: 0 15px;
}
.formulario .error ul li{
	margin-bottom: 10px;
}
.formulario .submit-btn{
	margin-top: 15px;
	padding: 15px;
	text-align:center;
	width:48px;
	max-height: 48px;
	font-size:18px;
	line-height: 18px;
	background: #769766;
	cursor: pointer;

	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	-ms-border-radius:0 3px 3px 0;
	border-radius:10px 10px 10px 10px;
}
.texto-registrate{
	text-align: center;
}
.texto-registrate a{
	display: block;
	font-size: 18px;
}
.contenido article{
	padding: 30px;
	background: #000;
}
.contenido article p{
	margin-bottom: 10px;
	color: #fff; 
}